<!DOCTYPE html>
<html lang="en">
<head>
   {{>links}}
</head>
<body>
{{>navbar}}
                        <!-- body code -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- left side div -->
                    <div class="col-md-6 col-12 main_header_left">
                        <div class="center">
                        <img class="error_img" src="images/404.jpg" alt="First slide">
                        <p>Welcome to weather app</p>
                        <h1>{{errorMsg}}</h1>
                        <a href="/"><button>Go Back</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
 {{>footer}}
</body>
</html>